* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.battlefield{
    width: 100%;
}

.battlefield__attack-result{
    display: flex;
    justify-content: space-around;
}

.battlefield__attack-btn {
    display: none;
}

.selecter{
    display: flex;
}